@charset "UTF-8";

@media screen and (max-width: 375px) {

    .logoTipoCapa {
        margin: auto;
        text-align: center;
        transform: translate(0, 25%);
    
        background-color: rgba(0, 0, 0, 0.856);
        width: 130px;width: 130px;
        padding: 15px;
        border-radius: 25px;
    }
    
    .logoTipoCapa img {
        height: 80%;
        width: 90%;
    }
    
    .logoTipoCapa h1 {
        font-size: .5em;
        letter-spacing: 1px;
    }
    
    .logoTipoCapa p {
        font-size: .2em;
        letter-spacing: 2px;
        font-weight: bold;
    }
    
    .logoTipoCapa h1, .logoTipoCapa p {
        color: goldenrod;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 1px 1px 5px rgba(199, 199, 199, 0.678);
    }

    .logoTipoContatos {
        margin: auto;
        text-align: center;
    
        background-color: rgba(0, 0, 0, 0.856);
        width: 130px;
        padding: 15px;
        border-radius: 25px;
    }
    
    .logoTipoContatos img {
        height: 80%;
        width: 90%;
    }
    
    .logoTipoContatos h1 {
        font-size: .5em;
        letter-spacing: 1px;
    }
    
    .logoTipoContatos p {
        font-size: .2em;
        letter-spacing: 2px;
        font-weight: bold;
    }
    
    .logoTipoContatos h1, .logoTipoContatos p {
        color: goldenrod;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 1px 1px 5px rgba(199, 199, 199, 0.678);
    }

    .capa {
        background-position: right center;
    }

    .navBar a {
        font-size: .8em;
    }

    .contCapa {
        transform: translate(0, 70%);
        height: 30%;
        width: 100%;
    }

    .contCapa h1 {
        font-size: 2.5em;
        letter-spacing: 1px;
    }

    .contCapa p {
        font-size: .8em;
    }

    .historiaEFormacao {
        flex-direction: column;
    }

    .contHistoria {
        width: 100%;
    }

    .borderHistoria h1 {
        font-size: 1.2em;
    }

    .borderHistoria p {
        margin-top: 5px;
        font-size: .6em;
    }

    .perfil {
        width: 100%;
    }
    
    .contPerfil {
        display: flex;
    }
    
    .contPerfil img {
        width: 40%;
    }
    
    .textPerfil h1 {
        font-size: 1em;
    }
    
    #text1 {
        font-size: .7em;
        letter-spacing: 2px;
        margin-left: 15px;
        margin-bottom: 5px;
    }
    
    #text2 {
        text-indent: 15px;
        font-size: .58em;
    }

    .borderMissao {
        flex-direction: column;
    }

    .topicos {
        width: 100%;
        height: 33%;
    }

    .topicos:not(:nth-child(1)) {
        margin-top: 10px;
        margin-left: 0px;
    }

    .topicos img {
        height: 40px;
        width: 40px;
    }

    .topicos h1 {
        font-size: 1em;
    }

    .topicos p {
        width: 100%;
        font-size: .6em;
    }

    .topicos prev {
        width: 100%;
        font-size: .65em;
    }

    .valText {
        margin-bottom: 5px;
    }

    .areaDeAtuacao {
        flex-direction: column;
    }

    .titleArea {
        width: 100%;
    }

    .titleArea h1 {
        font-size: 3em;
    }

    .topicoArea {
        width: 100%;
    }

    .borderAreas li {
        font-size: 1em;
    }
    
    .borderAreas li::marker {
        color: goldenrod;
        font-size: 2em;
    }

    .borderAvaliacoes {
        overflow: hidden;
    }
    
    .titleAvaliacoes {
        font-size: 2em;
    }

    .avaliacoes {
        background-position: center center;
    }
    
    .contAvaliacoes {
        display: flex;
        justify-content: space-between;
        width: 300%;
    }
    
    .contAvaliacoes img {
        width: 70px;
    }
    
    .comentAvaliacoes p {
        text-align: justify;
        text-indent: 15px;
        font-size: .8em;
        letter-spacing: 0.1px;
    }
    
    .comentAvaliacoes h2 {
        color: gray;
        font-size: 1.5em;
    }

    .borderContatos {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    
        border: 2px solid goldenrod;
        border-radius: 15px;
    }
    
    .borderRedes {
        padding: 15px;
        height: 100%;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .redes {
        width: 200px;
    }

    .redes a img {
        height: 20px;
        width: 20px;
    }

    .redes a {
        font-size: 1em;
    }

    .whats {
        bottom: 30px;
        right: 30px;
    }

    .whats img {
        height: 50px;
        width: 50px;
    }
}

@media screen and (min-width: 375px) and (max-width: 538px) {

    .logoTipoCapa {
        margin: auto;
        text-align: center;
        transform: translate(0, 25%);
    
        background-color: rgba(0, 0, 0, 0.856);
        width: 130px;
        padding: 15px;
        border-radius: 25px;
    }
    
    .logoTipoCapa img {
        height: 80%;
        width: 90%;
    }
    
    .logoTipoCapa h1 {
        font-size: .5em;
        letter-spacing: 1px;
    }
    
    .logoTipoCapa p {
        font-size: .2em;
        letter-spacing: 2px;
        font-weight: bold;
    }
    
    .logoTipoCapa h1, .logoTipoCapa p {
        color: goldenrod;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 1px 1px 5px rgba(199, 199, 199, 0.678);
    }

    .logoTipoContatos {
        margin: auto;
        text-align: center;
    
        background-color: rgba(0, 0, 0, 0.856);
        width: 130px;
        padding: 15px;
        border-radius: 25px;
    }
    
    .logoTipoContatos img {
        height: 80%;
        width: 90%;
    }
    
    .logoTipoContatos h1 {
        font-size: .5em;
        letter-spacing: 1px;
    }
    
    .logoTipoContatos p {
        font-size: .2em;
        letter-spacing: 2px;
        font-weight: bold;
    }
    
    .logoTipoContatos h1, .logoTipoContatos p {
        color: goldenrod;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 1px 1px 5px rgba(199, 199, 199, 0.678);
    }

    .contCapa {
        transform: translate(0, 70%);
        height: 35%;
        width: 100%;
    }

    .contCapa h1 {
        font-size: 3.3em;
    }

    .contCapa p {
        font-size: 1em;
    }

    .historiaEFormacao {
        flex-direction: column;
    }

    .contHistoria {
        width: 100%;
    }

    .borderHistoria h1 {
        font-size: 1.5em;
    }

    .borderHistoria p {
        font-size: .7em;
    }

    .perfil {
        width: 100%;
    }
    
    .contPerfil {
        display: flex;
    }
    
    .contPerfil img {
        width: 40%;
    }
    
    .textPerfil h1 {
        font-size: 1.2em;
    }
    
    #text1 {
        font-size: .7em;
        letter-spacing: 2px;
        margin-left: 15px;
        margin-bottom: 10px;
    }
    
    #text2 {
        text-indent: 15px;
        font-size: .6em;
    }

    .borderMissao {
        flex-direction: column;
    }

    .topicos {
            width: 100%;
            height: 33%;
    }

    .topicos:not(:nth-child(1)) {
        margin-top: 10px;
        margin-left: 0px;
    }

    .topicos img {
        height: 40px;
        width: 40px;
    }

    .topicos h1 {
        font-size: 1.1em;
    }

    .topicos p {
        width: 100%;
        font-size: .62em;
    }

    .areaDeAtuacao {
        flex-direction: column;
    }

    .titleArea {
        width: 100%;
    }

    .titleArea h1 {
        font-size: 3em;
    }

    .topicoArea {
        width: 100%;
    }

    .borderAreas li {
        font-size: 1em;
    }
    
    .borderAreas li::marker {
        color: goldenrod;
        font-size: 2em;
    }

    .avaliacoes {
        background-position: center center;
    }

    .borderAvaliacoes {
        overflow: hidden;
    }
    
    .titleAvaliacoes {
        font-size: 2em;
    }
    
    .contAvaliacoes {
        display: flex;
        justify-content: space-between;
        width: 300%;
    }
    
    .contAvaliacoes img {
        width: 80px;
    }
    
    .comentAvaliacoes p {
        text-align: justify;
        text-indent: 15px;
        font-size: 1.1em;
    }
    
    .comentAvaliacoes h2 {
        color: gray;
        font-size: 1.5em;
    }

    .borderContatos {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    
        border: 2px solid goldenrod;
        border-radius: 15px;
    }
    
    .borderRedes {
        padding: 15px;
        height: 100%;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .redes {
        width: 200px;
    }

    .redes a img {
        height: 20px;
        width: 20px;
    }

    .redes a {
        font-size: 1em;
    }

    .whats {
        bottom: 30px;
        right: 30px;
    }

    .whats img {
        height: 60px;
        width: 60px;
    }
}

@media screen and (min-width: 538px) and (max-width: 628px) {

    .logoTipoCapa {
        margin: auto;
        text-align: center;
        transform: translate(0, 25%);
    
        background-color: rgba(0, 0, 0, 0.856);
        width: 130px;
        padding: 15px;
        border-radius: 25px;
    }
    
    .logoTipoCapa img {
        height: 80%;
        width: 90%;
    }
    
    .logoTipoCapa h1 {
        font-size: .5em;
        letter-spacing: 1px;
    }
    
    .logoTipoCapa p {
        font-size: .2em;
        letter-spacing: 2px;
        font-weight: bold;
    }
    
    .logoTipoCapa h1, .logoTipoCapa p {
        color: goldenrod;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 1px 1px 5px rgba(199, 199, 199, 0.678);
    }

    .logoTipoContatos {
        margin: auto;
        text-align: center;
    
        background-color: rgba(0, 0, 0, 0.856);
        width: 130px;
        padding: 15px;
        border-radius: 25px;
    }
    
    .logoTipoContatos img {
        height: 80%;
        width: 90%;
    }
    
    .logoTipoContatos h1 {
        font-size: .5em;
        letter-spacing: 1px;
    }
    
    .logoTipoContatos p {
        font-size: .2em;
        letter-spacing: 2px;
        font-weight: bold;
    }
    
    .logoTipoContatos h1, .logoTipoContatos p {
        color: goldenrod;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 1px 1px 5px rgba(199, 199, 199, 0.678);
    }

    .contCapa {
        width: 80%;
    }

    .contCapa h1 {
        font-size: 4em;
    }

    .contCapa p {
        font-size: 1em;
    }

    .historiaEFormacao {
        flex-direction: column;
    }

    .contHistoria {
        width: 100%;
    }

    .borderHistoria h1 {
        font-size: 2.3em;
    }

    .borderHistoria p {
        font-size: .8em;
    }

    .perfil {
        width: 100%;
    }
    
    .contPerfil {
        display: flex;
    }
    
    .contPerfil img {
        width: 40%;
        height: 200px;
    }
    
    .textPerfil h1 {
        font-size: 2em;
    }
    
    #text1 {
        font-size: .7em;
        letter-spacing: 2px;
        margin-left: 15px;
        margin-bottom: 10px;
    }
    
    #text2 {
        text-indent: 15px;
        font-size: .8em;
    }

    .borderMissao {
        flex-direction: column;
    }

    .topicos {
        width: 100%;
        height: 33%;
    }

    .topicos:not(:nth-child(1)) {
        margin-top: 10px;
        margin-left: 0px;
    }

    .topicos img {
        height: 40px;
        width: 40px;
    }

    .topicos h1 {
        font-size: 1.1em;
    }

    .topicos p {
        width: 90%;
        font-size: .8em;
    }

    .areaDeAtuacao {
        flex-direction: column;
    }

    .titleArea {
        width: 100%;
    }

    .titleArea h1 {
        font-size: 3em;
    }

    .topicoArea {
        width: 100%;
    }

    .borderAreas li {
        font-size: 1em;
    }
    
    .borderAreas li::marker {
        color: goldenrod;
        font-size: 2em;
    }

    .avaliacoes {
        background-position: center center;
    }

    .borderAvaliacoes {
        overflow: hidden;
    }
    
    .titleAvaliacoes {
        font-size: 2em;
    }
    
    .contAvaliacoes {
        display: flex;
        justify-content: space-between;
        width: 300%;
    }
    
    .contAvaliacoes img {
        width: 80px;
    }
    
    .comentAvaliacoes p {
        text-align: justify;
        text-indent: 15px;
        font-size: 1.1em;
    }
    
    .comentAvaliacoes h2 {
        color: gray;
        font-size: 1.5em;
    }

    .borderContatos {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    
        border: 2px solid goldenrod;
        border-radius: 15px;
    }
    
    .borderRedes {
        padding: 15px;
        height: 100%;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .redes {
        width: 200px;
    }

    .redes a img {
        height: 20px;
        width: 20px;
    }

    .redes a {
        font-size: 1em;
    }

    .whats {
        bottom: 30px;
        right: 30px;
    }

    .whats img {
        height: 60px;
        width: 60px;
    }
}

@media screen and (min-width: 628px) and (max-width: 1050px) {
    .contCapa {
        width: 80%;
    }

    .contCapa h1 {
        font-size: 5em;
    }
}

@media screen and (min-width: 628px) and (max-width: 1349px) {

    .logoTipoCapa {
        margin: auto;
        text-align: center;
        transform: translate(0, 25%);
    
        background-color: rgba(0, 0, 0, 0.856);
        width: 130px;
        padding: 15px;
        border-radius: 25px;
    }
    
    .logoTipoCapa img {
        height: 80%;
        width: 90%;
    }
    
    .logoTipoCapa h1 {
        font-size: .5em;
        letter-spacing: 1px;
    }
    
    .logoTipoCapa p {
        font-size: .2em;
        letter-spacing: 2px;
        font-weight: bold;
    }
    
    .logoTipoCapa h1, .logoTipoCapa p {
        color: goldenrod;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 1px 1px 5px rgba(199, 199, 199, 0.678);
    }

    .logoTipoContatos {
        margin: auto;
        text-align: center;
    
        background-color: rgba(0, 0, 0, 0.856);
        width: 130px;
        padding: 15px;
        border-radius: 25px;
    }
    
    .logoTipoContatos img {
        height: 80%;
        width: 90%;
    }
    
    .logoTipoContatos h1 {
        font-size: .5em;
        letter-spacing: 1px;
    }
    
    .logoTipoContatos p {
        font-size: .2em;
        letter-spacing: 2px;
        font-weight: bold;
    }
    
    .logoTipoContatos h1, .logoTipoContatos p {
        color: goldenrod;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 1px 1px 5px rgba(199, 199, 199, 0.678);
    }

    .contCapa h1 {
        font-size: 5em;
    }

    .contCapa p {
        margin: auto;
        width: 80%;
        font-size: 1em;
    }

    .historiaEFormacao {
        flex-direction: column;
    }

    .contHistoria {
        width: 100%;
    }

    .borderHistoria h1 {
        font-size: 2.7em;
    }

    .borderHistoria p {
        margin: auto;   
        width: 90%;
        font-size: .8em;
    }

    .perfil {
        width: 100%;
    }
    
    .contPerfil {
        display: flex;
    }
    
    .contPerfil img {
        width: 40%;
        height: 200px;
    }
    
    .textPerfil h1 {
        font-size: 2em;
    }
    
    #text1 {
        font-size: .7em;
        letter-spacing: 2px;
        margin-left: 15px;
        margin-bottom: 10px;
    }
    
    #text2 {
        text-indent: 15px;
        font-size: .8em;
    }

    .borderMissao {
        flex-direction: column;
    }

    .topicos {
        width: 100%;
        height: 33%;
    }

    .topicos:not(:nth-child(1)) {
        margin-top: 10px;
        margin-left: 0px;
    }

    .topicos img {
        height: 40px;
        width: 40px;
    }

    .topicos h1 {
        font-size: 1.1em;
    }

    .topicos p {
        width: 90%;
        font-size: .8em;
    }

    .areaDeAtuacao {
        flex-direction: column;
    }

    .titleArea {
        width: 100%;
    }

    .titleArea h1 {
        font-size: 3em;
    }

    .topicoArea {
        width: 100%;
    }

    .borderAreas li {
        font-size: 1em;
    }
    
    .borderAreas li::marker {
        color: goldenrod;
        font-size: 2em;
    }
    
    .titleAvaliacoes {
        font-size: 2.5em;
    }
    
    .contAvaliacoes {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .contAvaliacoes img {
        width: 70px;
    }
    
    .comentAvaliacoes p {
        text-align: justify;
        padding: 0 10px 5px 10px;
        text-indent: 5px;
        font-size: 1em;
    }
    
    .comentAvaliacoes h2 {
        color: gray;
        font-size: 1.5em;
    }

    .borderContatos {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    
        border: 2px solid goldenrod;
        border-radius: 15px;
    }
    
    .borderRedes {
        padding: 15px;
        height: 100%;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .redes {
        width: 200px;
    }

    .redes a img {
        height: 20px;
        width: 20px;
    }

    .redes a {
        font-size: 1em;
    }
}

@media screen and (max-width: 900px) {
    .navBarRight {
        position: absolute;
        top: 12vh;
        right: 0;
        width: 50vw;
        height: 88vh;
        background-color: black;

        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translate(100%, 0);
        transition-duration: .4s ;
    }

    .navBarRight li {
        opacity: 0;
    }

    .menu-mobile {
        display: block;
    }
}